<!DOCTYPE html>
<html>
    <head>
        <title>Восстановление пароля</title>
        <link rel="stylesheet" type="text/css" href="/static/login.css/">
        <link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>

    </head>
    <body>
        <div class = "container">
            <h1 class = "title">Восстановление пароля</h1>
            <p class = "texts" >Для восстановление пароля, введите номер телефона, </br> который вы указывали при регистрации или в резюме</p>
                <input class = "InpText" type="text" placeholder="Номер телефона (+996)">
            <div class = "back">
                <a  href = "/"> Назад</a>
            </div>
            <div class = "confirm" >
                <a href= "/kode6zn/" class="buttonL">Далее</a>
            </div>
        </div>
    </body>
</html>