<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="/static/login.css/">
        <link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>

    </head>
    <body>
        <div class = "container">
            <h1 class = "title">Восстановление пароля</h1>
            <p class = "texts" >Для восстановления пароля, введите 6 значный код,</br> отправленный на ваш номер телефона по СМС</p>
            <div class = "vost">
               <span class="spann">_ _ _ _ _ _</span>
               <input class = "InpText" max-length="6" id = "InpTextkode" type="text" >
            </div>
            <div class = "back">
                <a  href = "/forgotPassword/"> Назад</a>
            </div>
            <div class = "confirm" >
                <a href= "#" class="buttonL">Подтвердить</a>
            </div>
        </div>
    </body>
</html>