<!DOCTYPE html>
<html>
    <head>
        <title>Регистрация</title>
        <link rel="stylesheet" type="text/css" href="/static/login.css/">
        <link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>

    </head>
    <body>
        <div class = "container">
            <h1 class = "title">Вход в систему</h1>
            <div class = "Inputs">
                <input class = "InpText" type="text" placeholder="Фамилия">
                <input class = "InpText" type="text" placeholder="Имя">
                <input class = "InpText" type="text" placeholder="Номер телефона">
            </div>
            <div class = "forandreg">
                <a href = "/loginadmin/" >Уже есть аккаунт</a>
            </div> 
            <div class = "confirm" >
                <button class="buttonCor" type="button">
                    <p id= "TextIntoCor" >Зарегистрироваться</p>
                </button>
            </div>
        </div>
    </body>
</html>