/* Устанавливаем размер шрифта для всех элементов h1 */
.softp {
    font-size: 16px; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    color: #333; /* Цвет текста (здесь используется серый цвет) */
    margin: 0; /* Убираем внешние отступы, если они были */
    padding: 0; /* Убираем внутренние отступы, если они были */
}

/* Устанавливаем стили для блоков */
.blockhistory {
    display: flex; /* Для размещения блоков горизонтально */
    flex-direction: row;
    margin-right: 20px; /* Добавляем немного отступа между блоками */
    vertical-align: top; /* Чтобы блоки были выровнены по верхнему краю */
    gap: 20px;
}
